<!DOCTYPE html>
<html ng-app="about">
  <head>
    <meta charset="utf-8">
    <title>NTUAF Chat Room - About us</title>

  </head>

  <body>

    <%- include layout/navbar %>
    
    <div id="head-team" class="row" ng-controller="aboutController as aboutCtrl">
      <div class="col-md-4" ng-repeat="worker in workers">
        <img class="img-circle img-responsive" src="/images/us/{{ worker.img }}" alt="{{ worker.name }}" style="max-height: 150px; max-width=150px">
        <ul class="list-inline center-block text-center">
          <li> Name: {{ worker.name }} </li>
          <li> I'm a {{ worker.job }} </li>
        </ul>
      </div>
    </div>
    
    <%- include layout/fb-like %>

    <%- include layout/links %>
    <script data-require="angular.js@1.5.0" data-semver="1.5.0" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
    <script src="/javascripts/about.js"></script>
  </body>
</html>

