<!DOCTYPE html>
<html ng-app="about">
  <head>
    <meta charset="utf-8">
    <title>22nd-NTUAF-異識流 - About us</title>

  </head>

  <body>

    <%- include layout/navbar %>

    <div id="head-team"  ng-controller="aboutController as aboutCtrl">
      <div ng-repeat="workgroup in workgroups">
        <h1>{{workgroup.work}}</h1>
        <div class="row">
          <div class="col-md-4 aboutus" ng-repeat="worker in workgroup.members">
            <img class="img-circle img-responsive" src="/images/us/{{ worker.img }}" alt="{{ worker.name }}" style="max-height: 150px; max-width: 150px">
            <h3>{{ worker.name }}</h3>
          </div>
        </div>
      </div>
    </div>
    
    <!-- <%- include layout/fb-like %> -->

    <%- include layout/links %>
    <script data-require="angular.js@1.5.0" data-semver="1.5.0" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
    <script src="/javascripts/about.js"></script>
  </body>
</html>

