<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>22nd-NTUAF-異識流 </title>

  </head>

  <body >

    <%- include layout/navbar %>
    <div class="row">
      <%- include('layout/admin_sidebar', {active: 0}) %>
    </div>
    <%- include layout/links %>
    <script data-require="angular.js@1.5.0" data-semver="1.5.0" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
  </body>
</html>

