<div class="col-sm-1 col-md-2 sidebar" id="sidebar">
  <ul class="nav nav-sidebar">
    <li><a href="/admin/user" >User</a></li>
    <li><a href="/admin/activity" >Activity</a></li>
    <li><a href="/admin/stream" >Stream</a></li>
  </div>