<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>22nd-NTUAF-異識流 </title>

  </head>

  <body>

    <%- include layout/navbar %>

	<!-- Main View and Background -->
    <div id="container-main" class="container">
    	<div class="bg"></div>
		<div id="arrow-box">
			<div id="arrow"></div>
		</div>
    </div>

	<div id="container-activity" class="container">
		<div id="activity" class="row">
	      <div class="col-lg-4 intro">
	        <img class="img-rounded" src="/images/intro/earworm.png" alt="Generic placeholder image" width="160" height="160">
	        <h2>Ear Worm</h2>
	        <p>實驗長度：約五十分鐘。（含儀器裝戴和說明的時間）</p>
	        <p>實驗說明：受試者擔任被控制者，於日常生活中接收一名以上控制者給予的各項訊息與指令。</p>
	        <p><a class="btn btn-default" href="http://www.blink.com.tw/event/1180/" role="button">前往報名 »</a></p>
	      </div><!-- /.col-lg-4 -->
	      <div class="col-lg-4 intro">
	        <img class="img-rounded" src="/images/intro/beyond.png" alt="Generic placeholder image" width="160" height="160">
	        <h2>Beyond The Map@大稻埕</h2>
	        <p>實驗長度：約１４０分鐘。（含儀器裝戴和說明的時間）</p>
	        <p>實驗說明：受試者將擔任被控制者，於現場自由遊走，在故事框架下，接受訊息完成指定任務。</p>
	        <p></p>
	        <p><a class="btn btn-default" href="http://www.blink.com.tw/event/1173/" role="button">前往報名 »</a></p>
	      </div><!-- /.col-lg-4 -->
	      <div class="col-lg-4 intro">
	        <img class="img-rounded" src="/images/intro/beyond.png" alt="Generic placeholder image" width="160" height="160">
	        <h2>Beyond The Map@寶藏巖</h2>
	        <p>實驗長度：約１４０分鐘。（含儀器裝戴和說明的時間）</p>
	        <p>實驗說明：這是一場遊戲，受試者將與被控制者攜手合作，憑藉語音輸入指令，操作被控制者完成指定任務。</p>
	        <p></p>
	        <p><a class="btn btn-default" href="http://www.blink.com.tw/event/1174/" role="button">前往報名 »</a></p>
	      </div><!-- /.col-lg-4 -->
	    </div>

	    <!-- log in -->
		<% if (! locals['user']) { %>
		<div id="fb-login">
		  <!-- <ul class="nav navbar-nav navbar-right"> -->
		    <!-- <li> -->
		      <!-- <a href="/auth/facebook">FB Login</a> -->
		      <!--Login with FB-->
		      <!-- <img href="/auth/facebook" src="/images/fb-login.png" width="96px" height="46px"> -->
		      <a id="btn-fb-login" type="button" href="/auth/facebook" class="btn btn-default navbar-btn">
		      	<img src="/images/fb-icon.png" alt="">
		      	Login with Facebook
		      </a>
		    <!-- </li> -->
		  <!-- </ul> -->
		</div>
		<% } %>
		<%- include layout/fb-like %>
    	
	</div>

	<%- include layout/links %>
	<link rel="stylesheet" href="/stylesheets/index.css">
	<script type="text/javascript" src="/javascripts/index.js"></script>
  <script src="../public/javascripts/google-trace.js"></script>

  </body>
</html>
