<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>22nd-NTUAF-異識流 </title>

  </head>

  <body>

    <%- include layout/navbar %>


    <%- include layout/fb-like %>
    <%- include layout/links %>


  </body>
</html>
