<!DOCTYPE html>
<html ng-app="profile">
  <head>
    <meta charset="utf-8">
    <title>22nd-NTUAF-異識流 </title>

    <script data-require="angular.js@1.5.0" data-semver="1.5.0" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
    <script src="/javascripts/ng-profile.js"></script>
  </head>

  <body ng-controller="ActivityCtrl">

    <%- include layout/navbar %>
    <br>
    <br>
    <br>
    <br>
    <% if( typeof error !== 'undefined') { %>
      <div class="alert alert-danger" role="alert">
        <strong>Oh snap!</strong> Change the inviting code or selected activity and try submitting again.
      </div>
    <% } %>

    <% if( typeof warning !== 'undefined' ){ %>
      <div class="alert alert-danger" role="alert">
        <strong>Sorry!</strong> 活動還沒開始呦！
      </div>
    <% } %>
<!--     <form >
      <h5>Activity</h5>
      <select name="ActivitySelect" ng-model="ctrl.act" ng-options="act as act.name for act in activitylist">
        <option value="" selected>-- Activity to add--</option>
      </select>
      <h5>The code given</h5>
      <input class="form" ng-model="ctrl.code" required></input>
      <button class="btn btn-primary" ng-click="addActivity()">Add Activity</button>

    </form> -->

    <h4>已登記活動</h4>

    <br>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Activity</th>
          <th>type</th>
          <th>Time</th>
          <th>Character</th>
          <th>Location</th>
          <th>Go</th>
        </tr>
      </thead>
      <tbody>
          <tr ng-repeat="act in user.activities" >
            <td>{{ act.gameName }}</td>
            <td>{{((act.acttype==1)?'Beyond The Map@寶藏巖':((act.acttype==2)?'Beyond The Map@大稻埕':'Ear Wrom'))}}_{{act.actype}}</td>
            <td>{{ act.time | date:'shortTime' }}, {{ act.time | date:'fullDate' }}</td>
            <td>{{ act.player_id }}</td>
            <td>{{ act.location }}</td>
            <td><a class="btn btn-primary" ng-href="/profile/{{ act.id }}/{{ act.player_id }}" ng-show="act.isRunning">Go</a></td>
          </tr>
      </tbody>
    </table>

    <%- include layout/fb-like %>
    <%- include layout/links %>

  </body>
</html>

