<!DOCTYPE html>
<html ng-app="profile">
  <head>
    <meta charset="utf-8">
    <title>22nd-NTUAF-異識流 </title>

    <script data-require="angular.js@1.5.0" data-semver="1.5.0" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
    <script src="/javascripts/ng-profile.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  </head>

  <body ng-controller="ActivityCtrl">

    <%- include layout/navbar %>
    <br>
    <br>
    <br>
    <br>
    <% if( typeof error !== 'undefined') { %>
      <div class="alert alert-danger" role="alert">
        <strong>Oh snap!</strong> Change the inviting code or selected activity and try submitting again.
      </div>
    <% } %>

    <% if( typeof warning !== 'undefined' ){ %>
      <div class="alert alert-danger" role="alert">
        <strong>Sorry!</strong> 活動還沒開始呦！
      </div>
    <% } %>


    <div class="container">
      <div class="jumbotron" ng-repeat="act in user.activities" ng-show="act.isRunning">
        <div class="row">
          <div class="col-md-4">
            <img width="100%" class="img-thumbnail" ng-src="{{ act.acttype==3 ? '/images/intro/earworm.png' : '/images/intro/beyond.png' }}" />
          </div>
          <div class="col-md-8">
            <h1>{{ act.gameName }}</h1>
            <h3>{{((act.acttype==1)?'Beyond The Map@寶藏巖':((act.acttype==2)?'Beyond The Map@大稻埕':'Ear Worm'))}}</h3>
            <h4>{{ act.time | date:'shortTime' }}, {{ act.time | date:'fullDate' }}</h4>

            <h4 text-align="right"> {{ act.player_id }} <span class="glyphicon glyphicon-map-marker"></span> {{ act.location }}</h4>
            <a class="btn btn-warning btn-lg" style="float:right;" ng-href="/profile/{{ act.id }}/{{ act.player_id }}" ng-show="act.isRunning">Go</a>
          </div>
        </div>
      </div>
    </div>


    <%- include layout/fb-like %>
    <%- include layout/links %>
    <script src="/javascripts/google-trace.js"></script>

  </body>
</html>

