<!DOCTYPE html>
<html ng-app="stream-window">
  <head>
    <meta charset="utf-8">
    <title>22nd-NTUAF-異識流 </title>

    <base href="/" />

    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/lib/adapter.js"></script>
    <script type="text/javascript" src="/javascripts/lib/rtcClient.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/ng-stream.js"></script>
    <script src="/javascripts/jquery-1.12.0.min.js"></script>
    <script src="/javascripts/bootstrap-3.3.6/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-3.3.6/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/stream.css">
  </head>

  <body>

    <%- include layout/navbar %>
    <%- include layout/remote %>   

    <%- include layout/links %>
    <%- include utility/mapjs %>
  </body>
</html>

