<!DOCTYPE html>
<html ng-app="stream-window">
  <head>
    <meta charset="utf-8">
    <title>NTUAF Chat Room </title>

    <base href="/" />

    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/lib/adapter.js"></script>
    <script type="text/javascript" src="/javascripts/lib/rtcClient.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/ng-stream.js"></script>
  </head>

  <body>

    <%- include layout/navbar %>
    <div class="row">
      <%- include('layout/admin_sidebar', {active: 2}) %>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="row">
          <div class="col-md-8">
            <%- include layout/remote %>            
          </div>
          <div class="col-md-4">
            
          </div>
        </div>
      </div> <!--main-->
    </div> <!--row-->
    <%- include layout/links %>
  </body>
</html>

