<!DOCTYPE html>
<html ng-app="stream-window">
  <head>
    <meta charset="utf-8">
    <title>22nd-NTUAF-異識流 </title>

    <base href="/" />

    <link rel="stylesheet" type="text/css" href="/stylesheets/stream.css">
  </head>

  <body style="overflow-x:hidden;overflow-y:hidden">
    <div class="row" ng-controller="RemoteStreamsController as rtc">
      <div class="col-md-8">
        <div class="remoteStreams">
          <div class="remoteStreams">
            <div id="remoteVideosContainer"></div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="localStream">
          <br>
          <div class="btn-group" style="width: 100%">
            <a class="btn btn-info btn-lg"title="更改名稱" ng-click="alert('not ready yet!!!')">{{ rtc.group.character }} @ {{ act.name }}  {{ act.acttype==1? "#" + sclasslist[ rtc.group.sclass]:""}}</a>  
            <a class="btn btn-warning btn-lg" title="{{ 5 - countTime }}s for auto-reload" ng-click="rtc.userReloadGroup()">{{ rtc.group.stream ? "重新連線" : "更新連線" }}</a>
          </div>
          
          <hr>
          <div id="map"></div>
          <hr>
          <div ng-controller="LocalStreamController as localStream" style="height: 40vh">
            <video id="localVideo" muted="muted" autoplay="true" style="height: 100%"></video>
            <!-- <br/> -->
            <!-- <a class="btn btn-primary" ng-click="localStream.toggleCam()" href>{{ localStream.cameraIsOn ? 'Stop' : 'Start' }}</a> -->
           <!--  <div class="btn-group" ng-show="localStream.cameraIsOn">    
              <% if( locals[ 'user' ] && ( user.isAdmin || user.isArtist || user.isDoll ) ) { %>
                <a class="btn btn-primary" ng-click="addStreamUrl()">Add Stream URL</a>
                <a class="btn btn-primary" ng-click="removeStreamUrl()">Remove Stream URL</a>
              <% } %>
            </div> -->
          </div>
          
        </div>

      </div>
    </div>


    <%- include layout/links %>

    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/lib/adapter.js"></script>
    <script type="text/javascript" src="/javascripts/lib/rtcClient.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.js"></script>
    
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.2.2.js"></script>
    <script src="/javascripts/bootstrap-3.3.6/bootstrap.min.js"></script>
    <%- include utility/mapjs %>
    <script type="text/javascript" src="/javascripts/ng-stream.js"></script>
    <script src="/javascripts/google-trace.js"></script>
    
</body>
</html>

