<!DOCTYPE html>
<html ng-app="stream-window">
  <head>
    <meta charset="utf-8">
    <title>NTUAF Chat Room </title>

    <base href="/" />

  </head>

  <body>
    <%- include layout/navbar %>
    <div class="row">
      <div class="col-md-9">
        <div class="remoteStreams" ng-controller="RemoteStreamsController as rtc">
          <div class="remoteStreams">
            <h2>Remote Streams</h2>
            <div id="remoteVideosContainer"></div>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="localStream">
          <br>
          <h3>{{ rtc.group.character }} @ {{ act.name }}</h3>
          <hr>
          <div id="map"></div>
          <hr>
          <div ng-controller="LocalStreamController as localStream">
            <video id="localVideo" muted="muted" autoplay="true"></video>
            <br/>
            <a class="btn btn-primary" ng-click="localStream.toggleCam()" href>{{ localStream.cameraIsOn ? 'Stop' : 'Start' }}</a>
            <div ng-show="localStream.cameraIsOn">    
              <br>
              <% if( locals[ 'user' ] && ( user.isAdmin || user.isArtist || user.isDoll ) ) { %>
                <a class="btn btn-primary" ng-click="addStreamUrl()">Add Stream URL</a>
                <a class="btn btn-primary" ng-click="removeStreamUrl()">Remove Stream URL</a>
              <% } %>

            </div>
          </div>
          <hr>
          <h6>{{ 10 - countTime }}s for auto-reload</h6>
          <a class="btn btn-info"  ng-click="rtc.userReloadGroup()">{{ rtc.group.stream ? "Click here if losing video!" : "Refresh Now!" }}</a>
        </div>

      </div>
    </div>



      



    <!-- <%- include layout/fb-like %> -->
    <%- include layout/links %>

    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/lib/adapter.js"></script>
    <script type="text/javascript" src="/javascripts/lib/rtcClient.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>

    <script type="text/javascript" src="/javascripts/ng-stream.js"></script>
    <%- include utility/mapjs %>
    <script src="/javascripts/bootstrap-3.3.6/bootstrap.min.js"></script>
</body>
</html>

