<!DOCTYPE html>
<html ng-app="stream-window">
  <head>
    <meta charset="utf-8">
    <title>NTUAF Chat Room </title>

    <base href="/" />

    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/lib/adapter.js"></script>
    <script type="text/javascript" src="/javascripts/lib/rtcClient.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/ng-stream.js"></script>
  </head>

  <body>
    <%- include layout/navbar %>

  	<%- include layout/local %>

  	<div class="remoteStreams" ng-controller="RemoteStreamsController as rtc">
    <h2>Remote Streams</h2>

  <div id="remoteVideosContainer"></div>

  <h3>{{ rtc.group.character }} @ {{ act.name }}</h3>

  <div class="row">
    <div class="col-md-4">
      <!-- if the stream url is invalid, press reload -->
      <a class="btn btn-success" ng-click="rtc.call( rtc.group.stream )" ng-show="rtc.group.stream">Show time!</a>
    </div>
    <div class="col-md-4" ng-hide="rtc.group.stream"> 
      <h5>{{ 20 - countTime }}s for auto-reload</h5>
    </div>
    <div class="col-md-4">
      <a class="btn btn-primary"  ng-click="rtc.userReloadGroup()">Refresh Now!</a>
    </div>
  </div>

  <div class="remoteStreams">

    <%- include layout/fb-like %>

    <%- include layout/links %>

  </body>
</html>

