#remoteVideosContainer {
	background-image: url(/images/stream/loading.gif);
	width: 100%;
	-webkit-background-size: contain;
    background-repeat: no-repeat;
	background-size: 50% 50%;
	background-position: center
}
