#remoteVideosContainer {
	background-image: url(/images/stream/loading.gif);
	width: 100%;
	height: 100vh;
	-webkit-background-size: contain;
    background-repeat: no-repeat;
	background-size: 50vh;
	background-position: center;
	background-position-y: 25vh
}
