/*.navbar-nav > li > a {padding-top:10px !important; padding-bottom:10px !important;}*/
/*.navbar {min-height:20px !important}*/

@font-face {
    font-family: "Silom";
    src: url("/fonts/Silom.ttf")
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  padding-top: 0 !important;
}

select {
  width: auto;
}
.intro {
  text-align: center;
}
.intro img{
  border:2px solid #021a40;
}
.navbar {
  width: 90%;
  margin: 0 auto;
}

.navbar-header,.navbar-nav {
  margin: 10px 0;
}

.navbar-brand {
  padding: 0 15px;
}
.navbar-brand img {
  height: 50px;
}

.navbar-nav {
  font-family: "Silom";
  font-size: 20px;
}

.navbar-nav li a {
  color: #502E90 !important;
}

.navbar-nav > li > a:hover {
  border-bottom: 4px #502E90 solid;
}

.dropdown-toggle {
  background-color: transparent !important;
  border-bottom: 4px #502E90 solid;
}

.navbar-inverse {
  background-color: transparent;
  border-color: transparent;
}

.navbar-text img {
  max-height:20px;
  width:auto;
  vertical-align:middle;
}

.container {
  padding-top: 50px;
}

.data-title {
  color: orange;
  font-family: 'Alegreya Sans', sans-serif, italic;
} 

.data-content {
  font-family: 'Alegreya Sans', sans-serif;
}

.fb-like {
  right: -15px;
  position: relative;
  text-align: right;
}
.aboutus {
  text-align: center;
}
.user-picture {
  width: 100px;
  height: 100px;
}

button, input, select {
  font-family: Myriad, Arial, Verdana;
  font-weight: normal;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 4px 12px;
  text-decoration: none;
  color: rgb(27, 26, 26);
  display: inline-block;
  box-shadow: rgb(255, 255, 255) 1px 1px 0px 0px inset;
  text-shadow: none;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0.05, rgb(241, 241, 241)), to(rgb(230, 230, 230)));
  font-size: 20px;
  border: 1px solid red;
  outline:none;
}
button:active, input:active, select:active, button:focus, input:focus, select:focus {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(5%, rgb(221, 221, 221)), to(rgb(250, 250, 250)));
  border: 1px solid rgb(142, 142, 142);
}

input, input:focus, input:active {
  background: white;    
}

button[disabled], input[disabled], select[disabled] {
  background: rgb(249, 249, 249);
  border: 1px solid rgb(218, 207, 207);
  color: rgb(197, 189, 189);
}

.chat-output div {
  border-bottom: 1px solid black;
  padding: 3px 5px;
}


.localStream {
  display: inline-block;
  top: 15px;
  right: 15px;
  float: right;
}


.localStream video {
  border: 5px solid rgb(119, 119, 119);
  outline: 0px none;
  height: 250px;
  width: 100%;
}


#map {
  border: 5px solid rgb(119, 51, 204);
  outline: 0px none;
  height: 250px;
  width: 100%;
}

.remoteStreams{
  display: inline-block;
  top: 15px;
  right: 15px;
  float: left;
  text-align: center;
  width: 100%
}
.remoteStreams video{
  width: 100%;
}

.remoteStreams td:hover {
  cursor: pointer;
  background-color: #aaa;
}

.remoteStreams .selected {
  background-color: #444 !important;
  text-shadow:none;
  border-right-color: #aaa;
  border-left: none;
  border-radius: 3px 3px 3px 3px; 
  box-shadow:inset 1px 2px 6px #070707;
}
.adminStream video{
  width: 50%
}
