<div class="modal-header">
  <h3 class="modal-title">Edit activity</h3>
</div>
<div class="modal-body" >

  <form name="demo"> 
    <div class="row">
      <div class="col-xs-5">
        <div class="alert {{ act.isRunning ? 'alert-success' : 'alert-danger' }}">
          <strong>{{ act.isRunning ? "Activity is now running" : "Activity is now closed" }}</strong>

        </div>
        <div class="row">
          <div class="col-xs-6 col-md-4"><h4 class="data-title">name</h4></div>
          <div class="col-xs-12 col-sm-6 col-md-8">
            <input class="form-control" ng-model="act.name"required />
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 col-md-4"><h4 class="data-title">Act_id</h4></div>
          <div class="col-xs-12 col-sm-6 col-md-8">
            {{act._id}}<a href="/api/act/get_act_info/{{act._id}}" title="see act data"><span class="glyphicon glyphicon-link"></span></a>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 col-md-4"><h4 class="data-title">location</h4></div>
          <div class="col-xs-12 col-sm-6 col-md-8">
            <input class="form-control" ng-model="act.location" required />
          </div>
        </div>
        <div class="row">

          <div class="col-xs-6 col-md-4"><h4 class="data-title">Type</h4></div>
          <div class="col-xs-12 col-sm-6 col-md-8">
            <select class="form-control" name="TypeSelect" ng-model="act.acttype" ng-options="m.id as m.name for m in acttypeModel">
              <option>-- Select --</option>
            </select>  
          </div>
        </div>        
        <div ><h4 class="data-title">Date & Time</h4></div>
        <div align="center">
          <pre>Current setting:<br><b>{{ act.time | date:'shortTime' }}, {{ act.time | date:'fullDate' }}</b></pre>

          <datetimepicker 
          min-date="minDate" 
          hour-step="hourStep" 
          minute-step="minuteStep" ng-model="act.time" show-meridian="showMeridian" 
          date-format="{{format}}" date-options="dateOptions"
          date-disabled="disabled(date, mode)" 
          datepicker-append-to-body="false"
          readonly-date="false"
          hidden-time="false"
          hidden-date="false" 
          name="datetimepicker"
          show-spinners="true"
          readonly-time="false"
          date-opened="dateOpened"
          >
          <!-- Use date-ng-click="open($event, opened)" to override date ng-click -->
          </datetimepicker>
        </div>
        <strong>Gadget &nbsp;</strong>
        <div class="btn-group" align="right">
          
          <button class="btn btn-default btn-sm" ng-click="dateTimeNow()" tooltip="Set date and time to now">Now</button>
          <!-- <button class="btn btn-default btn-sm" ng-click="timeToggleMode()">12H / 24H</button> -->
          <button class="btn btn-default btn-sm" ng-click="resetMinute()">Reset minute</button>
          <button class="btn btn-default btn-sm" ng-click="restore()">Restore time</button>
        </div>
        <hr>
        <button class="btn btn-primary pull-right" style="align: left;" type="submit" ng-click="saveEdit()">Save</button> 
        <a class="btn {{ act.isRunning ? 'btn-danger' : 'btn-success' }}" ng-click="toggleAct()" >{{ act.isRunning ? "Close Activity" : "Run Activity" }}</a>

      </div><!-- col-xs-6 -->
      <dir class="col-xs-7" style="margin-top: 0px">
        <div class="alert alert-info">
          <strong>Remember!</strong> Update or Add for each group!
        </div>
        <div class="btn-group pull-right">
            <button class="btn btn-primary" ng-click="addGroup()" ng-disabled="isEditing">Add</button>
            <button class="btn btn-info" ng-click="updateGroup()" ng-disabled="!isEditing">Update</button>
            <button class="btn btn-warning" ng-click="deselect()">Clear</button>
          </div>
        <table class="table tableSection" style="text-align: center;vertical-align: middle;">
          <thead>
            <tr>
              <th><span class="text">Artist</span></th>
              <th><span class="text">Character</span></th>
              <th><span class="text">Player</span></th>
              <th><span class="text">Stream</span></th>
              <th><span class="text">class</span></th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>
                <select name="ArtistSelect" ng-model="newgroup.artist" ng-options="artist as artist.fb.displayName for artist in artistlist">
                  <option value="" selected>-- Select --</option>
                </select>
              </td>
              <td><input class="form-control" ng-model="newgroup.character" placeholder="stupid name" ng-disabled="isEditing"></td>
              <!--<td><input class="form-control" ng-model="newgroup.player" placeholder="player _id"></td>-->
              <td style="text-align: center;" >x</td>
              <td><input class="form-control" ng-model="newgroup.stream"></td>
              <td><input class="form-control" ng-model="newgroup.sclass"></td>
            </tr>
          </tbody>
          </table>
          <hr>
          <table class="table tableSection" style="text-align: center;vertical-align: middle;">
          <thead>
            <tr>
              <th><span class="text">Artist</span></th>
              <th><span class="text">Character</span></th>
              <th><span class="text">Player</span></th>
              <th><span class="text">Stream</span></th>
              <th>class</th>
              <th>Remove</th>
              <th>Edit</th>
            </tr>
          </thead>

          <tbody>
            <tr ng-repeat="group in act.group">
              <td>{{ group.artist.name }}</td>
              <td>{{ group.character }}</td>
              <td ng-show="group.player">{{ group.player.name }}</td>
              <td ng-hide="group.player"><button class="btn btn-link" ng-click="invite( group.character )" title="invite"><span class="glyphicon glyphicon-link"></span></button></td>
              <td><span class='glyphicon glyphicon-{{ group.stream ? "ok" : "minus"}}'></span></td>
              <td>{{ group.sclass }}</td>
              <td><button class="btn btn-link" title="remove" ng-click="remove(group)"><span class="glyphicon glyphicon-remove"></span></button></td>
              <td><button title="edit"class="btn btn-link" ng-click="edit(group)"> <span class="glyphicon glyphicon-pencil"></span></button></td>
            </tr>
          </tbody>
        </table>
      </dir>
    </div><!-- row -->
  </form>
  

  
</div>
<div class="modal-footer">
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>

