
<div id="fb-root"></div>
<script src="/javascripts/fb.js"></script>

<hr>
<table class="table" align="right">
  <tr>
    <td>
      <div 
        class="fb-like" 
        data-href="http://amy-chatroom.herokuapp.com/" 
        data-layout="standard" 
        data-action="like" data-show-faces="true" data-share="true"></div>
    </td>
  </tr>

</table>

