<div class="localStream" ng-controller="LocalStreamController as localStream">
	<p>Username: <input ng-model="localStream.name"/></p>
	<video id="localVideo" muted="muted" autoplay="true"></video>

  <br/>
  <a class="btn btn-primary" ng-click="localStream.toggleCam()" href>{{ localStream.cameraIsOn ? 'Stop' : 'Start' }}</a>
  
  <div ng-show="localStream.cameraIsOn">		
		<p>Share:</p>
		<a>{{ localStream.link }}</a>
    
    <br>
    <% if( locals[ 'user' ] && ( user.isAdmin || user.isArtist || user.isDoll ) ) { %>
      <a class="btn btn-primary" ng-click="addStreamUrl()">Add Stream URL</a>
      <a class="btn btn-primary" ng-click="removeStreamUrl()">Remove Stream URL</a>
    <% } %>

	</div>
</div>

