<div class="row"  ng-controller="RemoteStreamsControllerforAdmin as rtc">
  <div class="col-md-8">
    <div class="remoteStreams">
      <div class="alert {{ act.isRunning ? 'alert-success' : 'alert-danger' }}">
        <strong>{{act.name}}({{ act.isRunning ? "Activity is now running" : "Activity is now closed" }})</strong>
      </div>

      <div id="remoteVideosContainer"></div>

      <div class="table-responsive" align="center">
        <a class="btn btn-primary"  ng-click="rtc.loadData()" href>  Refresh Now! </a>
        <table class="table-striped">
          <thead>
            <tr>
              <th>Stream</th><th>1-way</th><th>2-way</th>
            </tr>
          </thead>
          <tbody>
      
            <tr ng-repeat="stream in rtc.remoteStreams" ng-class="{'selected' : stream.isPlaying}">
              <td><a>{{stream.name}}</a></td>
              <td ng-click="rtc.view(stream)"><a>View</a></td>
              <td ng-click="rtc.call(stream)"><a>Call</a></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="remoteStreams">
      </div>
    </div>
         
  </div>
  <div class="col-md-4">
    <div id="map"></div>
  </div>
</div>


    
