<div class="row"  ng-controller="RemoteStreamsControllerforAdmin as rtc">
  <div class="col-md-3">
    <div class="remoteStreams">
      <div class="alert {{ act.isRunning ? 'alert-success' : 'alert-danger' }}">
        <strong>{{act.name}}({{ act.isRunning ? "Activity is now running" : "Activity is now closed" }})</strong>
      </div>

      <div id="remoteVideosContainer" class="adminStream"></div>

    </div>
         
  </div>
  <div class="col-md-4">
    <div style="width:100%" class="alert {{ socket_status ? 'alert-success' : 'alert-danger' }}">
        <strong>{{ socket_status ? "Connected to Server" : "Disconnected to Server" }}</strong>
    </div>
    <table class="table" style="width: 100%;text-align: center;">
      <thead>
        <th>Mission</th>
        <th>Content</th>
        <th>Time</th>
      </thead>
      <tbody>
        <tr ng-repeat="mission in missions">
          <td style="text-align: left;">{{mission.name}}</td>
          <td>{{mission.requirement}}</td>
          <td>{{mission.time}}</td>
        </tr>
      </tbody>
    </table>
    </div>
         
  </div>
  <div class="col-md-5">
    <div id="map" style="height:500px"></div>
    <table class="table" style="width: 100%;text-align: center;">
      <thead>
        <th>Name</th>
        <th>Character</th>
        <th>Class</th>
        <th>Acc</th>
        <th>Bat(work)</th>
        <th>Bat(stream)</th>
        <th>LTEsignal</th>
        <!-- <th>update time</th> -->
        <th>Stream</th>
        <th>View</th>
        <th>Call</th>
      </thead>
      <tbody>
        <tr ng-repeat="group in act.group">
          <td style="text-align: left;">{{group.artist.name}}</td>
          <td>{{group.artist.gps.character}}</td>
          <td>{{group.artist.gps.sclass}}</td>
          <td>{{group.artist.gps.acc}}m</td>
          <td>{{group.artist.gps.battery.work}}%</td>
          <td>{{group.artist.gps.battery.stream}}%</td>
          <td>0</td>
          <!-- <td>{{group.artist.gps.time}}</td> -->
          <td><span class='glyphicon glyphicon-{{ group.stream ? "ok" : "minus"}}'></span></td>
          <td ng-click="rtc.view(group.stream)"><a>View</a></td>
          <td ng-click="rtc.call(group.stream)"><a>Call</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


    
